<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{webName}}</title>
    <meta name="keywords" content="维度智能计量技术公司">
    <link rel="stylesheet" href="/CSS/reset.css" media="screen" title="no title">
    <link rel="stylesheet" href="/CSS/font-awesome.mini.css" media="screen" title="no title">
    <link rel="stylesheet" href="/CSS/base.css" media="screen" title="no title">
    <link rel="stylesheet" href="/CSS/jquery.swiper.min.css" media="screen" title="no title">

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.swiper.min.js"></script>
    <script type="text/javascript" src="/scripts/test.js"></script>

  </head>
  <body class="admin-page">
    <div class="body-inner">
      <div class="header">
        <div class="header-inner">
          <div class="header-logo">
            <a href="index.html">
            <div class="header-logo-img"><img src="/images/logo.png" alt="" /></div>
            <h1 class="header-logo-title">{{webName}}</h1>
            </a>
          </div>
          <div class="header-banner"></div>
          <div class="header-nav">
            <div class="login-state">
              <div class="login-state-info">Welcome<span class="login-state-user"> {{userName}} </span>!</div>
              <a  class="login-state-out" href="javascript:location.href='/logout'">Logout</a>
            </div>
            <ul id="nav" class="list is-inline is-menu">
              <li><a href="index.html">Setting</a></li>
              <li><a href="admin-part.html">Pages</a></li>
              <li><a href="admin-data.html">Datas</a></li>
              <li><a href="admin-category.html">Categorys</a></li>
              <li><a href="admin-article.html">Articles</a></li>
              <li><a href="admin-user.html">Users</a></li>
            </ul>
          </div>
        </div>
        <script type="text/javascript">
            var pageName = location.href.match(/[^\/]+$/ig);
            pageName = pageName?pageName[0]:"/"
            $("#nav li a[href='"+pageName+"']").parent().addClass("is-active").siblings().removeClass("is-active");
        </script>
      </div>
      <div class="pager">
        <div class="pager-inner">
            {% block content %} {% endblock%}
        </div>
      </div>
      <!-- :end pager -->
      <div class="footer">
        <div class="footer-inner">
          <div class="container">
            <p>	CopyRight 1999-2016. Dalian Institute of Chemical Physics, Chinese Academy of Sciences.</p>
            <p>{{webName}} 版权所有 All Rights Reserved.</p>
          </div>
        </div>
      </div>
      <!-- :end footer -->
    </div>
  </body>
</html>
