<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="../assets/css/test.css"/>
        <script type="text/javascript" src="../assets/Scripts/jquery.min.js"></script>
        <script type="text/javascript" src="../assets/Scripts/test.js"></script>
    </head>
    <body>
        <h1 class="title">{{title}}</h1>
        <div id="message" class="message">
            <!-- <div class="message-info">Error</div> -->
        </div>
        <table class="table">
            <colgroup>
                <col style="width:10%">
                <col style="width:30%">
                <col style="width:20%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
            </colgroup>
            <thead>
                <tr>
                    <th>name</th>
                    <th>pwd</th>
                    <th>email</th>
                    <th>tel</th>
                    <th>gender</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="user-list"></tbody>
        </table>

        <div class="form">
          <h1 class="form-title">Authenticate</h1>
            <form class="auth-form" action="/admin" >
                <div class="row is-wide">
                  <label for="">Username</label>
                  <input type="text" name="username" value="carl">
                </div>
                <div class="row is-wide">
                  <label for="">Password</label>
                  <input type="text" name="password" value="12345611">
                </div>

            </form>
            <div class="row">
              <button id="submit-auth" type="button" name="button">Async Submit</button>
            </div>
        </div>
        <!-- :end form -->

        <div class="form">
          <h1 class="form-title">Delete</h1>
            <form action="/api/users" method="delete">
                <div class="row is-wide">
                  <label for="">Name</label>
                  <input id="delete-id" type="text" name="id" value="">
                </div>
            </form>
            <div class="row">
              <button id="submit-del">Async Submit</button>
            </div>
        </div>
        <!-- :end form -->

        <div class="form">
          <h1 class="form-title">Update</h1>
            <form class="edit-form" action="/api/users/" method="post">
                <div class="row is-wide">
                    <label for="">Id</label>
                    <input type="text" name="id" value="" disabled>
                </div>
                <div class="row is-wide">
                    <label for="">Username</label>
                    <input type="text" name="name" value="carl" disabled>
                </div>
                <div class="row is-wide">
                    <label for="">Password</label>
                    <input type="text" name="pwd" value="12345611">
                </div>
                <div class="row is-wide">
                    <label for="">email</label>
                    <input type="text" name="email" value="ly@gmail.com">
                </div>
                <div class="row is-wide">
                    <label for="">tel</label>
                    <input type="text" name="tel" value="(626)8584512">
                </div>
                <div class="row is-wide">
                    <input type="radio" name="gender" value="man" checked="checked"><label for="">Man</label>
                    <input type="radio" name="gender" value="woman"><label for="">Woman</label>
                </div>
            </form>
            <div class="row">
              <button id="submit-update" type="button" name="button">Async Submit</button>
            </div>
        </div>
        <!-- :end form -->

        <div class="form">
          <h1 class="form-title">Create</h1>
            <form class="create-form" action="/api/users/" method="post">
                <div class="row is-wide">
                    <label for="">Username</label>
                    <input type="text" name="name" value="carl">
                </div>
                <div class="row is-wide">
                    <label for="">Password</label>
                    <input type="text" name="pwd" value="12345611">
                </div>
                <div class="row is-wide">
                    <label for="">email</label>
                    <input type="text" name="email" value="ly@gmail.com">
                </div>
                <div class="row is-wide">
                    <label for="">tel</label>
                    <input type="text" name="tel" value="(626)8584512">
                </div>
                <div class="row is-wide">
                    <input type="radio" name="gender" value="man" checked="checked"><label for="">Man</label>
                    <input type="radio" name="gender" value="woman"><label for="">Woman</label>
                </div>
            </form>
            <div class="row">
              <button id="submit-create" type="button" name="button">Async Submit</button>
            </div>
        </div>
        <!-- :end form -->
        <div class="form">
          <button type="button" name="button" onclick="location.href='/logout'">Async logout</button>
        </div>


    </body>
</html>
<script type="text/javascript">

// :start submit authenticate
$("#submit-auth").click(function(){
  var data = {
    username: $(".auth-form [name='username']").val(),
    password: $(".auth-form [name='password']").val()
  };

    $.get("/admin",data,function(data){
        console.log(data);
    })
})

// :start submit delete
$("#submit-del").click(function(){
    var id = $("#delete-id").val();
    $.ajax({
          url: '/api/users/'+id,
          type: 'DELETE',
          success: function(result) {
            console.log(result);
              // Do something with the result
          }
      });
});

// :start submit create
$("#submit-create").click(function(){
    $.ajax({
          url: '/api/users/',
          data:{
              name: $(".create-form [name='name']").val(),
              pwd: $(".create-form [name='pwd']").val(),
              email: $(".create-form [name='email']").val(),
              tel: $(".create-form [name='tel']").val(),
              gender: $(".create-form [name='gender']:checked").val()
          },
          type: 'post',
          success: function(result) {
             showUserList();
            send(result);
          }
      });
});
// :start submit create
$("#submit-update").click(function(){
    var id = $(".edit-form [name=id]").val();
    if(!id){
        send("ID is required");
        return;
    }
    $.ajax({
          url: '/api/users/'+id,
          data:{
              name: $(".edit-form [name='name']").val(),
              pwd: $(".edit-form [name='pwd']").val(),
              email: $(".edit-form [name='email']").val(),
              tel: $(".edit-form [name='tel']").val(),
              gender: $(".edit-form [name='gender']:checked").val()
          },
          type: 'put',
          success: function(result) {
             showUserList();
            send(result);
          }
      });
});
// :start list show
showUserList();
function showUserList(){
    $.get("/api/users/", function(data){
        var reslt ="";
        if(!data){
            return;
        }
        for(var i in data){
            var json = data[i];
            reslt += "<tr><td>"+json.name+"</td><td>"+json.pwd+"</td><td>"+json.email+"</td><td>"+json.tel+"</td><td>"+json.gender+"</td><td><button class='del-user' data-ids="+json._id+">del</button><button class='edit-user' data-ids="+json._id+">edit</button></td></tr>";
        }

        $("#user-list").html("").append(reslt);
    })
}
// :start delete user
$(document).on("click", ".del-user", function(){
    var $this = $(this),
        id = $this.data("ids");

        $.ajax({
              url: '/api/users/'+id,
              type: 'DELETE',
              success: function(result) {
                showUserList();
              }
          });
})
// :start edit user
$(document).on("click", ".edit-user", function(){
    var $this = $(this),
        id = $this.data("ids"),
        getVal = function(index){
            return $("td:eq("+index+")",$this.parents("tr"));
        };

        $(".edit-form [name='id']").val(id);
        $(".edit-form [name='name']").val(getVal(0).html());
        $(".edit-form [name='email']").val(getVal(2).html());
        $(".edit-form [name='tel']").val(getVal(3).html());
        // $(".edit-form [name='gender']").attr("checked",false);
        $(".edit-form [name='gender'][value='"+getVal(4).html()+"']").click();

})



</script>
