<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>API</title>
        <script type="text/javascript" src="assets/Scripts/jquery.min.js"></script>
        <link rel="stylesheet" href="assets/css/api.css" media="screen" title="no title">
    </head>
    <body>
        <div id="message" class="break-message">
            <!-- <div class="message-info">Error</div> -->
        </div>
        <table class="table">
            <colgroup>
                <col style="width:10%">
                <col style="width:30%">
                <col style="width:20%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        name
                    </th>
                    <th>
                        pwd
                    </th>
                    <th>
                        email
                    </th>
                    <th>
                        tel
                    </th>
                    <th>
                        gender
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody id="user-list"></tbody>
        </table>
        <div class="form">
          <h1 class="form-title">Login</h1>
            <form action="/login" >
                <div class="row is-wide">
                    <label for="">Username</label>
                    <input id="name" type="text" name="name" value="carl">
                </div>
                <div class="row is-wide">
                    <label for="">Password</label>
                    <input id="pwd" type="text" name="pwd" value="12345611">
                </div>
                <div class="row ">
                    <input type="submit" value="Submint">
                </div>
            </form>
            <div class="row">
              <button id="submit" type="button" name="button">Async Submit</button>
            </div>
            <div class="message">{{message}}</div>
        </div>
        <!-- :end form -->

        <div class="form">
          <h1 class="form-title">Authenticate</h1>
            <form action="/admin" >
                <div class="row is-wide">
                  <label for="">Username</label>
                  <input type="text" name="name" value="carl">
                </div>
                <div class="row">
                  <input type="submit" value="Submint">
                </div>
            </form>
            <div class="row">
              <button id="submit-admin" type="button" name="button">Async Submit</button>
            </div>
        </div>
        <!-- :end form -->

        <div class="form">
          <h1 class="form-title">Delete</h1>
            <form action="/api/users" method="delete">
                <div class="row is-wide">
                  <label for="">Name</label>
                  <input id="delete-id" type="text" name="id" value="">
                </div>
                <div class="row">
                  <input type="submit" value="Submit">
                </div>
            </form>
            <div class="row">
              <button id="delete">Async Submit</button>
            </div>
            <div class="message">{{message}}</div>
        </div>
        <!-- :end form -->

        <div class="form">
          <h1 class="form-title">Update</h1>
            <form action="/api/users/" method="post">
                <div class="row is-wide">
                    <label for="">Id</label>
                    <input type="text" name="id" value="">
                </div>
                <div class="row is-wide">
                    <label for="">Username</label>
                    <input type="text" name="name" value="carl">
                </div>
                <div class="row is-wide">
                    <label for="">Password</label>
                    <input type="text" name="pwd" value="12345611">
                </div>
                <div class="row is-wide">
                    <label for="">email</label>
                    <input type="text" name="email" value="ly@gmail.com">
                </div>
                <div class="row is-wide">
                    <label for="">tel</label>
                    <input type="text" name="tel" value="(626)8584512">
                </div>
                <div class="row is-wide">
                    <input type="radio" name="gender" value="man" checked="checked"><label for="">Man</label>
                    <input type="radio" name="gender" value="woman"><label for="">Woman</label>
                </div>
                <div class="row is-wide">
                    <input type="submit" value="Submint">
                </div>
            </form>
        </div>
        <!-- :end form -->

        <div class="form">
          <h1 class="form-title">Create</h1>
            <form class="create-form" action="/api/users/" method="post">
                <div class="row is-wide">
                    <label for="">Username</label>
                    <input type="text" name="name" value="carl">
                </div>
                <div class="row is-wide">
                    <label for="">Password</label>
                    <input type="text" name="pwd" value="12345611">
                </div>
                <div class="row is-wide">
                    <label for="">email</label>
                    <input type="text" name="email" value="ly@gmail.com">
                </div>
                <div class="row is-wide">
                    <label for="">tel</label>
                    <input type="text" name="tel" value="(626)8584512">
                </div>
                <div class="row is-wide">
                    <input type="radio" name="gender" value="man" checked="checked"><label for="">Man</label>
                    <input type="radio" name="gender" value="woman"><label for="">Woman</label>
                </div>
                <!-- <div class="row is-wide">
                    <input type="submit" value="Submint">
                </div> -->
            </form>
            <div class="row">
              <button id="create" type="button" name="button">Async Submit</button>
            </div>
        </div>
        <!-- :end form -->


    </body>
</html>
<script type="text/javascript">
function msg(msg){
    if(typeof msg == "string"){
        var $msg =$("<div class='message-info'>"+msg+"</div>");
        $("#message").append($msg).show();
        setTimeout(function(){
            $msg.remove();
        },1000);
    }
}

$("#submit-admin").click(function(){

    $.get("/admin",function(data){
        console.log("/admin back");
    })
  return false;
})
$("#delete").click(function(){
  console.log("click delete");
    var id = $("#delete-id").val();
    $.ajax({
          url: '/api/users/'+id,
          type: 'DELETE',
          success: function(result) {
            console.log(result);
              // Do something with the result
          }
      });
});

$("#submit").click(function(){
    console.log("click login");

    var name = $("#name").val(),
    pass = $("#pwd").val();

    $.get("/login",{name:name,pwd:pass},function(data){
        console.log("submit back");
        console.log(data);
    })

})

// :start create
$("#create").click(function(){
    $.ajax({
          url: '/api/users/',
          data:{
              name: $(".create-form [name='name']").val(),
              pwd: $(".create-form [name='pwd']").val(),
              email: $(".create-form [name='email']").val(),
              tel: $(".create-form [name='tel']").val(),
              gender: $(".create-form [name='gender']:checked").val()
          },
          type: 'post',
          success: function(result) {
             showUserList();
            msg(result);
          }
      });
});

// :start list show
showUserList();
function showUserList(){
    $.get("/api/users/", function(data){
        var reslt ="";
        if(!data){
            return;
        }
        for(var i in data){
            var json = data[i];
            reslt += "<tr><td>"+json.name+"</td><td>"+json.pwd+"</td><td>"+json.email+"</td><td>"+json.tel+"</td><td>"+json.gender+"</td><td><button class='del-user' data-ids="+json._id+">del</button></td></tr>";
        }

        $("#user-list").html("").append(reslt);
    })
}

$(document).on("click", ".del-user", function(){
    var $this = $(this),
        id = $this.data("ids");

        $.ajax({
              url: '/api/users/'+id,
              type: 'DELETE',
              success: function(result) {
                showUserList();
              }
          });

})



</script>
