<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meter</title>
    <link rel="stylesheet" href="assets/css/test.css"/>
    <script type="text/javascript" src="assets/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="assets/Scripts/test.js"></script>
  </head>
  <body>
    <div class="form">
        <div class="row"><a href="/admin/index.html">admin.html</a></div>
        <div class="row"><a href="/login.html">login.html</a></div>
    </div>

  </body>
</html>
