{% extends './layout/login.layout.html' %}
{% block content %}
<div class="container">
  <div class="login-form">
    <h1 class="title-x">用户登陆</h1>
    <form action="">
      <div class="form-cells">
        <div class="form-cell">
          <label for="" class="form-label is-row">用户名：</label>
          <input id="name" class="form-text be-wide" type="text" name="name" value="carl">
        </div>
        <div class="form-cell">
          <label for="" class="form-label is-row">密码：</label>
          <input id="pwd" class="form-text be-wide" type="password" name="pwd" value="12345611">
        </div>
        <div class="form-info">
          <a href="#">忘记密码？</a>
        </div>
      </div>
      <div class="form-bottom">
        <button id="submit-login" class="btn btn--xx btn--primary" type="button" name="button">提交</button>
      </div>
    </form>
  </div>

</div>
<!-- :end container -->
<script type="text/javascript">

//:start submit login
$("#submit-login").click(function(){
    var name = $("#name").val(),
    pass = $("#pwd").val();

    $.get("/login",{username: name, password: pass},function(data){
        //send(data);
        //console.log(data);
        if(data.success){
            location.href="/admin/";
        }else{
            send("Error");
        }

    })

})
</script>
{% endblock %}
